body {
    margin: 0;
    padding: 0;
    border:0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

#ndla_header, #content{
    background-color: transparent;
    padding: 20px 0px;

    margin-left: auto;
    margin-right: auto;
    min-width: 760px;
    max-width: 960px;
}

#content {
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.home {
    font-size: xx-large;
    vertical-align: middle;
    line-height: 60px;
}

#slogan {
    float:right;
}

#slogan p {
    width: 220px;
    margin-left: 10px;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#slogan img {
    float: left;
}

#blue_bar {
    background-color: #20588F;
    color: #FFFFFF;
    padding: 0 0 0 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    clear: both;
}

#beta_block {
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: large;
}

#content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content li {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    border: 1px solid #c3d9ec;
    background: #e7f0f7;
}
